// Remove Focus Boxes
select:focus {
  outline: $select-focus;
}

button:focus {
  outline: none;
  background-color: $button-background-focus;
}

label {
  font-size: $label-font-size;
  color: $input-border-color;
}

@import 'https://raw.githubusercontent.com/NOSDOOM/picturehost/master/_input-fields.scss';
@import 'https://raw.githubusercontent.com/NOSDOOM/picturehost/master/_radio-buttons.scss';
@import 'https://raw.githubusercontent.com/NOSDOOM/picturehost/master/_checkboxes.scss';
@import 'https://raw.githubusercontent.com/NOSDOOM/picturehost/master/_switches.scss';
@import 'https://raw.githubusercontent.com/NOSDOOM/picturehost/master/_select.scss';
@import 'https://raw.githubusercontent.com/NOSDOOM/picturehost/master/_file-input.scss';
@import 'https://raw.githubusercontent.com/NOSDOOM/picturehost/master/_range.scss';
